
html {
    scroll-behavior: smooth;
  }
.header-container{
    height: 100px;
}
.header-container img{
    width: 200px;
}
.left-nav{
    text-align: right;
    color: #fff;
    font-weight: 600;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
}
.left-nav a{
    color:#ffff
}
.ant-carousel{
    background-color: #fff;
    height: 430px;
    border-radius: 6px;
}

.landing-container{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
    padding-bottom:200px;
    background-color:#811C5e;
    position: relative;
}
.landing-container div {
    z-index: 10;
}
.landing-container::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/curves.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    z-index: 1;

}
.slider-cont{
    padding:15px
}
.slider-cont h4{
    font-family: 'Roboto Slab', serif;
    color: #000;
    font-weight: 600;
}
.slider-cont h3{
    font-family: 'Roboto', sans-serif;
    color:#FD2E24;
    font-size: 28px;
    margin-top: 30px;
    
}
.slider-cont p{
    color: #4B4B4B;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.slider-cont span{
    color: #4B4B4B;
    font-size: 16px;

}
.slider-cont .ant-btn{
    background: transparent;
    width: 200px;
    height: 38px;
    border: 2px solid #FD2E24;
    margin-top: 20px;
}
.slider-cont .ant-btn span{
    color:#FD2E24;
    font-weight: 600;
}
.slider-cont .ant-btn:hover{
 
    border: 2px solid#FD2E24;
}
.slider-cont .ant-col-md-16{
    padding-left: 30px;
    width: calc(100% - 400px);
}
.slider-image {
width:400px;
height:400px;
}
 .slider-image img{
    width: 100%;
    height: 100%;
}
.orange{
    display: grid;
    margin-top:20;
    grid-template-columns:50px Auto;
    padding-top: 10px;
  
}
.orange-box{
    background-color:#FF6F02;
    width:50px;
    height: 50px;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-right: 15px;
    
}
.ant-carousel .slick-dots li.slick-active button{
    width:10px !important;
    height: 10px;
    border-radius: 50%;
    background-color: #FF6F02 !important;
    
}
.ant-carousel .slick-dots li button{
    width:10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #000000 !important; 
    z-index: 100;

}
 .slick-dots{
    position: absolute;
    width: unset !important;
    top:15px;
    right:30px;
    z-index: 100;
    
}
.girl-image{
    text-align: left;
}
.girl-image img{
    height:470px;
}
.browse{
    background-color: #fff;
    border-radius: 6px;
    width:300px;
    height: 45px;
    text-align: center;
    padding-top: 10px;
    margin-left: 50px;
    
}
.browse p{
    font-weight: 700;
    color:#FD2E24; 
    font-size: 16px;
}
.search-box{
    padding-left: 10%;
    padding-right: 10%;
    display:flex;
    margin-top:20px;

}
.ant-input-search-icon{
    color:black !important;
    font-size: 16px !important;
    font-weight: 700;
}
.ant-input-affix-wrapper .ant-input:not(:last-child)::placeholder{
    color:#000000;
    font-weight: 700;
    font-size: 16px;

}
.ant-input-affix-wrapper .ant-input:not(:last-child):hover{
   border: none;
}
.event-box{
    border: 1px solid red;
    padding: 20px;
    border-radius: 6px;
    margin-top: -180px;
    border: 1px solid #fff;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.event{
    height:200px;
    width: 300px;
}
.event-image img{
    max-width: 100%;
    max-height: 100%;
}
.event-content{
    padding-left: 10px;
}
.event-box p{
    color: #4B4B4B;
    font-family: 'Roboto', sans-serif;
   
}
.bottom-landing-container{
    padding-left: 15%;
    padding-right: 15%;
}
.bottom-landing{
    padding-left: 15px;
    padding-right: 15px;
    
}
.second-row{
    margin-top:205px;
}
.last-event-box{
    background-color: red;
}
.footer-container{
    background-color: #000000;
    padding-right: 15%;
    padding-left: 15%;
    margin-top: 30px;
}
.footer-container p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: 16px;
    padding-top: 10px;
}
.footer-container img{
    width:200px
}
.about-content{
    width:80%;
    margin: 50px auto;
    margin-top: -100px;
    
    padding: 30px 20px 40px 15px;
    background-color: #fff;
    border-radius: 6px;

}
.about-content h3{
    font-size: 25px;
    color: #FD2E24;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}
.about-content p{
    font-size: 20px;
    color:#4B4B4B;
    font-family: 'Roboto', sans-serif;
}
.about-content li{
    list-style-type: none;
    font-size: 20px;
    color:#4B4B4B;
    font-family: 'Roboto', sans-serif;
}
.about-content ul{
    padding: 0;
}
.about-content i {
    margin-right: 10px;
    color: #000000;
}
.head-about{
    background-color: #811C5e;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15px;
    height: 200px;
}
.about-image{
    text-align: right;
}
.about-content img {
    width: 400px;
}
.about-container{
    height: 100vh;
}
.each-event .slider-cont{
    padding-left: 15%;
    padding-right: 15%;
}
.wrapp{
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    margin-top:-100px;

}
.each-event hr{
    margin-top: 50px;
    color: #000000;
    
}
.organizer-side{
    display: grid;
    grid-template-columns:50px Auto;
    padding-top: 10px;
}
.organizer-side-share{
    display: grid;
    grid-template-columns:50px 50px 50px;
    padding-top: 10px;
}
.organizer-side p{
    padding-top: 7px;
    font-family: 'Roboto', sans-serif;

}
.organizer i{
    color: #fff;
}
.organizer{
    background-color: #4B4B4B;
    text-align: center;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    padding-top: 7px;
}
.each-event .slider-image {
    width:500px;
    height:500px;
    }
.each-event .slider-image img{
    width: 100%;
    height: 100%;
}
.each-event .slider-cont .ant-col-md-16{
    padding-left: 30px;
    width: calc(100% - 500px);
}
.comment-container{
    padding-left: 15%;
    padding-right: 15%;
  
}
.comment-container h4{
    color:#000000;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 25px;
    padding-top: 50px;
}
.ant-input:placeholder-shown::placeholder{
    color:#4B4B4B;
    font-size: 16px;
    font-family:'Roboto', sans-serif;
}
.ant-input:placeholder-shown{
    border: 2px solid #d9d9d9;
    margin-top: 20px;
}
.ant-input:placeholder-shown:hover{
    border: 2px solid #d9d9d9
}
.ant-input:placeholder-shown:focus{
    border: 2px solid #d9d9d9
    
}
.comment-container .ant-btn{
    width:300px;
    height: 50px;
    border-radius: 6px;
    background-color: #d9d9d9;
    border: none;
}
 .comment-container  .ant-btn:hover{
     background-color: #FF6F02;
     border: none;
 }
.comment-container .ant-btn span{
    color: #fff;
}
.comment-section a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#000000
}
.comment-section p {
    font-family: 'Roboto', sans-serif;
    color:#000000;
    font-size: 16px;
}
.comment-section{
    border-bottom: 2px solid #d9d9d9;
}
.comment-section  span{
    margin-right: 30px;
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .landing-container{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .left-nav{
        text-align: unset;
        font-size: unset;
        padding-left: 10px;
        font-weight: unset;
    }
    .girl-image img{
        display: none;
    }
    .landing-container div {
        z-index: unset;
    }
    .landing-container::before{
        display: none;
        content: "";
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-image: url(../assets/curves.png);
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
        z-index: 1;
    
    }
    .landing-container .slider-image{
        width: unset;
        height: unset;
    }
    .slider-cont h3{
        font-size: unset;
        margin-top: unset;
    }
    .slider-cont p{
        font-size: unset;
    }
    .header-container img{
        width: 150px;
    }
    .bottom-landing-container{
        padding-left: unset;
        padding-right: unset;
    }
    .event-box{
        margin-top: unset;
    }
    .bottom-landing{
        margin-top: 15px;
    }
    .search-box{
        display: none;
    }
    .slider-cont .ant-btn{
        width: 150px;
    }
    .slider-cont span{
        font-size: unset;
    }
    .event-image{
        margin-top: 10px;
    }
    .ant-carousel{height:unset}
    .second-row{margin-top:unset}
    .footer-container,.footer-container p{text-align:center;}
    .ant-carousel .slick-dots-bottom{margin-top:-35px}
    
.slider-cont .ant-col-md-16{
    padding-left: 0;
    width: 100%;
}
.head-about{
    padding-left: 15px;
    padding-right: unset;
    height: 100px;
}
.about-content{
    margin-top: unset;
    width: unset;
}
.about-content img {
    width: 330px;
}
.each-event .slider-image{
    width: unset;
    height: unset;
}
.wrapp{
    margin-top: unset;
}
.each-event .slider-cont{
    padding-left: 15px;
    padding-right: 15px;
}
.each-event .slider-cont .ant-col-md-16 {
    padding-left:unset;
     width: unset;
}
.each-event .slider-cont .ant-col-md-16 h3{
    padding-top: 10px;
}
.each-event hr{
    margin-top: 15px;
}
.comment-container{
    padding-right: 15px;
    padding-left: 15px;
}
.ant-input:placeholder-shown{
    margin-top: 5px;
}
.comment-container .ant-btn{
    width:230px
}
.comment-container h4{
    font-size: 20px;
    padding-top: 10px;
}



}